html, body {
    height: 100%;
	background-repeat: no-repeat;
  	background-size: cover;
}

.kanban {
	display: flex;
	min-height: 100% !important;
    height: 100%;
	width: 100%;
}

.kanban * {
	font-family: sans-serif;
}

.kanban__column {
	flex: 1;
}

.kanban__column:not(:last-child) {
	margin-right: 25px;
}

.kanban__column-title {
	margin-bottom: 10px;
	font-size: 1.4rem;
	font-weight: bold;
	user-select: none;
	font-family:'Courier New', Courier, monospace;

	-webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
